.App {
  text-align: center;
}

body {
  margin: 0;
  font-family: sans-serif;
}



.app {
  display: flex;
  flex-direction: row;
}
.card {
  width: 15em;
  height: 600px;
  padding-bottom: 2em;
  bottom: 5em;
  justify-content: space-between;
}

.blog-list{
  width: 400px;
  height: 10px
}



